In [ ]:
# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages in Data Science
- List used libraries in Data Science
- List Data Science tools
- Some arithmetic examples

In [ ]:
### Some of the popular languages that Data Scientists use are:
1 Python   
2 R        
3 Julia

### Some of the commonly used libraries used by Data Scientists include:
1 Pandas  
2 ggplot2    
3 Apache Spark

| Data Science Tools |
|--------------------|
| GitHub |
| RStudio |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Giovanni Trani